<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="AskITEntities" connectionString="metadata=res://*/ModelAskIT.csdl|res://*/ModelAskIT.ssdl|res://*/ModelAskIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AskIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AskITEntities1" connectionString="metadata=res://*/Models.Model_AskIT.csdl|res://*/Models.Model_AskIT.ssdl|res://*/Models.Model_AskIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AskIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AskITEntities2" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AskIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AskITEntities3" connectionString="metadata=res://*/Views.Model1.csdl|res://*/Views.Model1.ssdl|res://*/Views.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AskIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>